.Contato{
  height: 100vh;
  background-color: var(--black);
}

.sectionContato::before {
  content: '';
  position: absolute;
  top: 11.2rem;
  left: 8rem; 
  width: 4px; 
  height: 31.6rem;
  background-color: var(--purple);
}

.sectionContato{
  display: flex;
  color: var(--white);
  flex-direction: column;
}

.title{
  padding-top: 8rem;
  padding-left: 9.5rem;
  
}

.titleH1{
  font-size: 4rem ;
}

.conteudo{
  display: flex;
  padding-top: 139px;
  justify-content: center;
}

.conteudoLinks{
  border: 5px var(--purple) solid;
  background-color: var(--purple);
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  color: var(--white);
  width: 380px;
  height: 300px;
}

.conteudoIcons{
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center ;
  gap: 20px;
}

.conteudoIcons svg{
  font-size: 2rem;
  color: var(--black);
}

.conteudoContatos{
  padding-top: 3rem;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center ;
  font-size: 1.5rem;
}