.home{
  height: 100vh;
  background-color: black;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  height: 90vh;
}

.apresentacao {
  margin-left: 2rem;
  font-size: 1.5rem;
}

.h1Container {
  margin: 1rem;
  color: var(--white);
}

.h2Container {
  margin-left: 1.5rem;
  font-size: 3rem;
  color: var(--white);
}

.h3Container {
  margin-top: 20px;
  font-size: 2rem;
  color: var(--white);
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 250px;
  text-decoration: none;
  background-color: var(--purple);
  color: var(--white);
  padding: 1rem;
  border-radius: 20px;
  margin-top: 30px;
}

.circle {
  width: 500px;
  height: 520px;
  border-radius: 50%;
  border: 20px solid var(--purple);
  box-shadow: 0 0 30px var(--purple);
  position: relative;
}


.conimg {
  display: flex;
  place-content: center;
  margin-top: 6rem;
}

.conimg img {
  width: 50%;
}