.header{
  width: 100%;
  height: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--black);
  padding-top: 2rem;
  padding-left: 5rem; 
  padding-right: 4rem;
  box-sizing: border-box;
}