.sobre{
  height: 100vh;
  background-color: var(--black);
}

.sectionSobre{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 8rem;
  padding-top: 8rem;
  align-items: center;
  justify-content: center;
  color: var(--white);
  gap: 10rem;
  background-color: var(--black);
}

.conteudo {
  border-left: 4px solid var(--purple);
  padding-left: 25px; 
}

.conteudo h1{
  font-size: 4rem;
  gap: 30px;
}

.conteudo p{
  font-size: 1rem;
  margin-top: 2rem;
}

@media(max-width:950px){
  .sectionSobre{
    padding-left: 3rem;
  }
  .conteudo h1{
    font-size: 3.3rem;
  }
  .conteudo p{
    font-size: .9rem;
  }
}

@media(max-width:800px){
  .sectionSobre{
    grid-template-columns: 1fr;
    gap: 3rem;
    padding-right: 1rem;
  }
  .tecnologias{
    margin: 0 auto;
  }
}