:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --purple: #8F00FF;
  --black: #000000;
  --white: #f7f7f7;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: none;
  list-style-type: none;
  overflow-y: hidden; 
}

span{
  color: var(--purple);
}